@import "tailwindcss";


/* Optional reset */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* In your global CSS file */
.no-scroll {
    overflow: hidden !important;
    height: 100vh;
    position: fixed;
    width: 100%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.fade-out {
    animation: fadeOut 1s ease-out forwards;
}

@keyframes drawLine {
    0% {
        stroke-dashoffset: 20;
        opacity: 0;
    }

    40% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    70% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 20;
        opacity: 0;
    }
}